spring.datasource.url=jdbc:sqlite:users.db
spring.datasource.driver-class-name=org.sqlite.JDBC
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.community.dialect.SQLiteDialect
adyen.balancePlatformApiKey=
adyen.lemApiKey=
adyen.pspApiKey=
adyen.merchantAccount=
adyen.clientKey=

#Rename me application.properties
